<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BestSeller</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">BestSeller</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="https://img.lovepik.com/element/40033/8816.png_860.png" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#kyobo">교보문고(1-10)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#kyobo2">교보문고(10-20)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#aladin">알라딘(1-10)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#aladin2">알라딘 (10-20)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="../">MAIN</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-5 p-lg-10 d-flex align-items-center" id="kyobo">

     		<div class="w-70">

        <h2 class="mb-5">알라딘 베스트셀러</h2>
     		<div class="container">

<table id="example1" class="display" style="width:100%">
<thead>

    <th>도서 이미지</th>
<th>도서 정보</th>
<th>교보 문고 </th>
<th>알라딘</th>
<th>yes24</th>
<th>알라딘중고</th>
<th>yes24중고</th></tr>
</thead>
<tbody>
{% for book in aladin %}
<tr>
    <td rowspan="4"><img src=  {{book.img}} width = "125" height="180"/></td>
    <td>제목 :{{book.title}}</td>
    <td rowspan="4" ><a href="{{book.link}}">{{book.salep}}</a></td>
    <td rowspan="4">{{book.a_aladin}}</td>
    <td rowspan="4">{{book.a_yes24}}</td>
    <td rowspan="4"><a href="{{book.a_aladin_used_link}}">{{book.a_aladin_used}}</a></td>
    <td rowspan="4"><a href="{{book.a_yes24_used_link}}">{{book.a_yes24_used}}</a> </td>
</tr>
<tr>
<td>저자: {{book.author}}</td>
</tr>

<tr><td>원가: {{book.originalp}} </td>
</tr>

<tr><td>고유번호: {{book.isbn}}</td>
</tr>

{% endfor %}


</table>

		</div>

      </div>
</section>
        </div>


    <hr class="m-0">

 <section class="resume-section p-5 p-lg-10 d-flex align-items-center" id="kyobo2">

     		<div class="w-70">

        <h2 class="mb-5">교보문고 베스트셀러</h2>
     		<div class="container">

<table id="example2" class="display" style="width:100%">
<thead>
<tr><th>도서 이미지</th>
<th>도서 정보</th>
<th>교보 문고 </th>
<th>알라딘</th>
<th>yes24</th>
<th>알라딘중고</th>
<th>yes24중고</th></tr>
</thead>
<tbody>
<tr><td rowspan="4"><img src= "https://image.aladin.co.kr/product/9476/48/cover500/8937473135_1.jpg" width = "175" height="250"/></td>
<td>책 현시세 정보를 여기다가 넣습니당</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
</tr>
<tr>
<td>책 이름 정보를 여기다가 넣습니당</td>
</tr>

<tr><td>책저자 </td>
</tr>

<tr><td>책 고유코드를 여기다가 넣습니당</td>
</tr>



<tr><td  rowspan="4">이미지링크</td>
<td>아웅</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
</tr>


<tr><td>넘</td>

</tr>

<tr><td>힘들당</td>

</tr>

<tr><td>하기 귀찮당</td>

</tr>
<tr><td  rowspan="4">이미지링크</td>
<td>클컴을 듣는건지</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
</tr>


<tr><td>웹기반을 하는 건지</td>

</tr>

<tr><td>디비를 하는 건지~~</td>

</tr>

<tr><td>희승님 너무해 ~~</td>

</tr>



</table>

		</div>

      </div>
</section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="aladin">



     		<div class="w-70">
     		<h2 class="mb-5">알라딘 베스트셀러</h2>
     		<div class="container">
<table id="example3" class="display" style="width:100%">
<thead>
<tr><th>도서 이미지</th>
<th>도서 정보</th>
<th>교보 문고 </th>
<th>알라딘</th>
<th>yes24</th>
<th>알라딘중고</th>
<th>yes24중고</th></tr>
</thead>
<tbody>
<tr><td rowspan="4"><img src= "https://image.aladin.co.kr/product/9476/48/cover500/8937473135_1.jpg" width = "175" height="250"/></td>
<td>책 현시세 정보를 여기다가 넣습니당</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
</tr>
<tr>
<td>책 이름 정보를 여기다가 넣습니당</td>
</tr>

<tr><td>책저자 </td>
</tr>

<tr><td>책 고유코드를 여기다가 넣습니당</td>
</tr>



<tr><td  rowspan="4">이미지링크</td>
<td>아웅</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
</tr>


<tr><td>넘</td>

</tr>

<tr><td>힘들당</td>

</tr>

<tr><td>하기 귀찮당</td>

</tr>
<tr><td  rowspan="4">이미지링크</td>
<td>클컴을 듣는건지</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
</tr>


<tr><td>웹기반을 하는 건지</td>

</tr>

<tr><td>디비를 하는 건지~~</td>

</tr>

<tr><td>희승님 너무해 ~~</td>

</tr>



</table>
	</div>
     </div>
</section>


    <hr class="m-0">



    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="aladin2">

     		<div class="w-70">
        <h2 class="mb-5">알라딘 베스트셀러</h2>
        <div class="container">
     <table id="kyobo2" class="display" style="width:100%">

<thead>
<tr><th>도서 이미지</th>
<th>도서 정보</th>
<th>교보 문고 </th>
<th>알라딘</th>
<th>yes24</th>
<th>알라딘중고</th>
<th>yes24중고</th></tr>
</thead>
<tbody>
<tr><td rowspan="4"><img src= "https://image.aladin.co.kr/product/9476/48/cover500/8937473135_1.jpg" width = "175" height="250"/></td>
<td>책 현시세 정보를 여기다가 넣습니당</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
</tr>
<tr>
<td>책 이름 정보를 여기다가 넣습니당</td>
</tr>

<tr><td>책저자 </td>
</tr>

<tr><td>책 고유코드를 여기다가 넣습니당</td>
</tr>



<tr><td  rowspan="4">이미지링크</td>
<td>아웅</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
</tr>


<tr><td>넘</td>

</tr>

<tr><td>힘들당</td>

</tr>

<tr><td>하기 귀찮당</td>

</tr>
<tr><td  rowspan="4">이미지링크</td>
<td>클컴을 듣는건지</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
<td rowspan="4">가격</td>
</tr>


<tr><td>웹기반을 하는 건지</td>

</tr>

<tr><td>디비를 하는 건지~~</td>

</tr>

<tr><td>희승님 너무해 ~~</td>

</tr>



</table>

     </div>
      </div>
</section>





  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/resume.min.js"></script>

</body>

</html>
